.container-location {
  position: relative;
  padding: 2em;
  color: white;
  font-weight: bolder;
  text-align: center;
  min-height: 100vh;
  background-color: #fbab7e;
  background-size: cover;
  background-position: center;
}

.container-location .content {
  position: relative;
  padding: 2em;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
  margin-top: 10vh;
}

.container-location img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container-location img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 10vh;
  transition: transform 400ms ease-in-out, margin-bottom 400ms ease-in-out;
}

.container-location img:hover {
  transform: scale(1.1);
  transition: ease-in-out 400ms;
  margin-bottom: 1.5em;
}
