.hero {
  position: relative;
  padding: 2em;
  color: white;
  font-weight: bolder;
  text-align: center;
  min-height: 100vh;
  background-color: #fbab7e;
  background-image: url("https://images.unsplash.com/photo-1609137144813-7d9921338f24?q=80&w=3987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  padding: 2em;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  max-width: 800px;
  min-height: 80vh;
  margin: 0 auto;
  z-index: 1;
  margin-top: 10vh;
}

.hero-content img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.explore-btn {
  border: none;
  outline: none;
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  background-color: rgb(255, 255, 255);
}

.explore-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  transition: ease-in-out 500ms;
}
